<mat-spinner *ngIf="!(movie_poster && reviews_list)"></mat-spinner>
<div *ngIf="movie_poster && reviews_list">
    <button class="back-button" 
    mat-raised-button 
    type="submit" 
    color="primary"
    (click)="onBackButtonClick()"
    >
        Go back
    </button>
    <mat-card class="movie-card">
        <div class="movie-poster">
            <img class="movie_image" src={{movie_poster}}>
        </div>
        <div class="content">
            <mat-card-title>
                {{ movie.original_title }}
                <mat-card-subtitle>{{ movie.year }}</mat-card-subtitle>
            </mat-card-title>
            <mat-card-subtitle>{{ movie.production_company }}</mat-card-subtitle>
            <mat-card-content>
                <p><b>{{ movie.genre }}</b></p>
                <p><i>{{ movie.language }}</i></p>
                <p>{{ movie.description }}</p>
            </mat-card-content>
            <hr>
            <p>Director: {{ movie.director }}</p>
            <p>Cast: <i>{{ movie.actors }}</i></p>
            <hr>

            <mat-card-actions class="see-more">
            </mat-card-actions>
            <mat-card-footer class="footer">
                <p>Duration: <b>{{ (movie.duration / 60).toFixed(2) }} hours</b></p>
                <button mat-raised-button color="primary" *ngIf="authService.loggedIn && user" (click)="submitFavouriteMovie(movie._id)">
                    Favourite movie
                </button>
                <button mat-raised-button color="warn" *ngIf="user ? user.admin === true : false" (click)="onMovieDelete(movie._id)">
                    Delete movie
                </button>
            </mat-card-footer>
        </div>
    </mat-card>
    <div class="review-card" *ngFor="let single_review of reviews_list">
        <mat-card class="movie-card">
            <div class="content">
                <div class="edit-delete-buttons" *ngIf="authService.loggedIn && user">
                    <button 
                    mat-mini-fab 
                    type="submit" 
                    color="primary"
                    (click)="openReviewEditDialog(single_review)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                    mat-mini-fab 
                    type="submit" 
                    color="warn"
                    (click)="onReviewDelete(single_review._id)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-card-title>
                    <mat-card-subtitle>
                        <i>{{ single_review.username }}</i>
                    </mat-card-subtitle>
                    {{ single_review.sentiment }}
                </mat-card-title>
                <mat-icon *ngIf="single_review.sentiment === 'positive'">
                    thumb_up
                </mat-icon>
                <mat-icon *ngIf="single_review.sentiment === 'negative'">
                    thumb_down
                </mat-icon>
                <hr>
                <mat-card-content [innerHTML]="single_review.review">
                    <p>
                        {{ single_review.review }}
                    </p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
    <ng-container *ngIf="authService.loggedIn && user;
    else loggedOut">
    <mat-card>
        <form 
        [formGroup]="reviewForm" 
        class="comment-card"
        (ngSubmit)="onSubmit()"
        >
            <mat-card-title>
                <h2><i>Leave a review!</i></h2>
            </mat-card-title>

            <mat-form-field class="comment-post" appearance="fill">
                <mat-label>Sentiment</mat-label>
                <mat-select 
                matNativeControl 
                required
                id="sentiment"
                formControlName="sentiment"
                >
                    <mat-option value="positive">Positive</mat-option>
                    <mat-option value="negative">Negative</mat-option>
                </mat-select>
                <mat-error *ngIf="reviewForm.get('sentiment').touched">
                    Please pick a sentiment.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="comment-post" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea
                required
                matInput 
                formControlName="review" 
                placeholder="I find this movie...">
                </textarea>
                <mat-error *ngIf="reviewForm.get('review').touched">
                    Please enter a comment.
                </mat-error>
            </mat-form-field>
            <button 
            mat-raised-button 
            [disabled]="!reviewForm.valid" 
            type="submit" 
            color="primary"
            >
                Submit
            </button>
        </form>
    </mat-card>
    </ng-container>
    <ng-template #loggedOut>
        <mat-card>
            <div class="comment-card">
                <mat-card-title>
                    <h2><i>Please login to leave a review</i></h2>
                </mat-card-title>
            </div>
        </mat-card>
    </ng-template>
</div>
<app-pagination
*ngIf="reviews_list && movie_poster"
[maxPage]="maxPage"
[page]="page"
(updateItemsList)="fetchReviewList($event)"
>