<section>
    <div class="button-row">
        <button 
            mat-stroked-button 
            matToolTipcolor="primary" 
            matTooltip="Go to first page"
            (click)="firstPage()">
            <<
        </button>
        <button 
            mat-stroked-button 
            matTooltip="Go to previous page"
            (click)="previousPage()">
            <
        </button>
        <div class="numbered-buttons" *ngFor="let i of getPageArray()" >
            <button mat-raised-button color="success" [class.selected]="i === page" (click)="goToPage(i)">{{i}}</button>
        </div>
        <button 
            mat-stroked-button 
            matTooltip="Go to next page"
            (click)="nextPage()">
            >
        </button>
        <button 
            mat-stroked-button 
            matTooltip="Go to last page"
            (click)="lastPage()">
            >>
        </button>
    </div>
</section>