<mat-toolbar color="primary" class="mat-elevation-z6">
    <span class="logo">
        <mat-icon>movie</mat-icon>
        Moviez
    </span>

    <a routerLink="/" mat-button aria-label="Home">My Profile</a>
    <a routerLink="/movies" (click)="clearSessionStorage()" mat-button aria-label="Movies">Movies</a>
    <span class="spacer"></span>

    <span class="spacer"></span>
    <ng-container *ngIf="authService.isAuthenticated$ | async;
      else loggedOut">
        <a mat-raised-button color="accent" (click)="authService.logout()">
            Logout
        </a>
    </ng-container>

    <ng-template #loggedOut>
        <a mat-raised-button color="accent" (click)="authService.loginWithRedirect()">
            Login
        </a>
    </ng-template>
</mat-toolbar>