<mat-toolbar color="primary" class="mat-elevation-z6">
    <span class="logo">
        <mat-icon>movie</mat-icon>
        Moviez
    </span>

    <a routerLink="/" mat-button aria-label="My Profile">My Profile</a>
    <a routerLink="/movies"  mat-button aria-label="Movies">Movies</a>
    <span class="spacer"></span>

    <span class="spacer"></span>
    <ng-container *ngIf="authService.loggedIn;
      else loggedOut">
        <a mat-raised-button color="accent" (click)="onLogoutSubmit()">
            Logout
        </a>
    </ng-container>
    <ng-template #loggedOut>
        <a routerLink="/login" mat-raised-button color="accent"> 
            Login
        </a>
    </ng-template>
</mat-toolbar>